*{
    box-sizing: border-box;
    padding: 5px;
}
div{
    background-color:bisque;
    border-radius: 5px;
    margin: 10px;

}
nav{
    background-color:floralwhite;
    font-family: 'Segoe UI';
}
